<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="BaseDirectory" value="c:\Workspace\MobileUpdater\MAUFiles"></add>
	  <!--"included-category" key used to apply specific category fields-->
	  <!--"category-not-included" key used not applied any categories-->
	  <!--<add key="included-category" value="10555;11982" />
	  <add key="category-not-included" value="10365;11375" />
	  <add key="irrespective-stock" value="11628" />
	  <add key="IrrespctioveOfStockAndTax" value="11624" />-->
	  <add key="included-category" value="10555" />
	  <add key="upc-length" value="11982" />
	  <add key="category-not-included" value='10365;11375' />
	  <!--"irrespective of stock"-->
	  <add key="irrespective-stock" value="11628;11624" />

	  <!--"Takes prce from pricestore field"-->
	  <add key="PriceStore"   value="11628" />

	  <add key="LiquorAppsConnectionString" value="Data Source=bottlecappsdb.cslxuchadxwc.us-east-1.rds.amazonaws.com;Initial Catalog=liquorapps;User ID=webuser;Password=QCG8nP{kkWebU$er;MultipleActiveResultSets=True"/>

	  <!--<add key="LiquorAppsConnectionString" value="Data Source=PK-LAPTOP;Initial Catalog=liquorapps;Integrated Security = True;MultipleActiveResultSets=True" />-->
   	  <!--<add key="LiquorAppsConnectionString" value="Data Source=Nithin-LAPTOP;Initial Catalog=liquorapps;Integrated Security = True;MultipleActiveResultSets=True" />-->

  <add key="DeveloperId" value="naidu@bottlecapps.com" />    
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="no-reply@bottlecapps.com">
        <network host="email-smtp.us-east-1.amazonaws.com" port="587" userName="AKIAI4OQ7HMFKRWEFMZQ" password="AiS+n6vcaYBfUGyjmdsrptMp8VddmpJ4yvfHyhmi2wOH" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>